@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

#main{
        display: flex;
        justify-content: center;
        align-items: center;
}

.board {
    text-align: center;
}

.board .leaderboard{
    margin-top: 2em;
    margin-bottom: 1em;
    color: rgb(97, 95, 209);
}

.board .duration{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.board .duration :hover{
    background-color: var(--color-dark);
    color: var(--color-light);
}
.board .duration > button{
    border: 1px solid var(--color-light);
    padding: .5em 2em;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}
.active{
    background-color: var(--color-dark);
    color: var(--color-light);
}

#profile{
    /* display: flex; */

    margin-top: 3em;
}

#profile .flex{
    display: grid; /* Change 'flex' to 'grid' */
    grid-template-columns: auto 1fr auto; /* Adjust column sizes as needed */
    gap: 1em;
    text-align: left;
    align-items: center; /* Vertically align items in the middle */
    margin-bottom: 2em;
}
#profile .flex .item-wpm {
    text-align: right; /* Align the WPM to the right */
}


#profile .flex .item{
    display: flex;
    align-items: center;
}

#profile .flex .item img{
    width: 30px;
    border-radius: 20%;
    margin-left: 20%;
    margin-left: 10px; /* Adjust this value */

}

#profile .flex .info{
   padding: 1em;
}

.text-dark{
    color: var(--color-dark);
}
.btn {
    background-color: #1562bb; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    
  }